*{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#loader{
    width:100%;
    height:100vh;
    display:table;
}
#loader>div{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}
#loader>div>i{
    font-size:80px;
}

#main-container{
    width:100%;
    height:100vh;
    display:table;
    margin:0;
    padding:0;
}
#main-container > .bg-container{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-container > div {
    width:100%;
    height:100%;
    background-color: rgba(0,0,0, 0.6);
}
#main-container > .login-table{
    max-width:600px;
    margin:auto;
    margin-top:10%;
    border: 2px solid #de483d;
    display:block;
    background-color: #fff;
}
.login-header{
    background-color: #de483d;
    display:block;
    padding: 0.15em 20px;
    margin:0;
    text-align:center;
}
.login-header > h2{
    font-size:22px;
    color: #fff;
    text-transform: uppercase;
}

.row{
    margin:1.8em 0;
    padding:0 1em;
}

.row > .input-group{
    display:inline-block;
    width: 48%;
    height: 3em;
    padding-top:15px;
}
.row > .input-group.full-justify{
    width: 98%;
}
.row > .input-group.btn{
    text-align:center;
}
.row > .input-group:first-child{
    margin-right: 1%;
}
.row > .input-group:last-child {
    margin-left: 1%;
}

.input-group > label{
    font-size:12px;
    margin-top: -10px;
    margin-left:15px;
    color: #9e9e9e;
    position: absolute;
}
.input-group > input {
    display:block;
    width: 100%;
    height:100%;
    border:0;
    outline:none;
    padding-left:10px;
    border-bottom: 1px solid #9e9e9e;
    transition: all 0.3s ease-in-out;
}
.input-group > input:focus{
    border-bottom: 2px solid #de483d;
    transition: all 0.3s ease-in-out;
}
.input-group > input:focus ~ label{
    color: #de483d;
    transition: all 0.3s ease-in-out;
}
.input-group > input[type=submit]{
    width: auto;
    height: auto;
    display: inline-block;
    padding: 15px 25px;
    color: white;
    font-weight: 500;
    border: 1px solid #de483d;
    background-color: #de483d;
    transition: all 0.3s ease-in-out;
}
.input-group > input[type=submit]:hover{
    background-color: white;
    color: #de483d;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
#topbar{
    width:100%;
    height:60px;
    left:0;
    top:0;
    background-color: #fff;
    display: block;
    position: fixed;
    border-bottom: 1px solid #9e9e9e;
    z-index:2;
}
#leftbar{
    background-color:#fff;
    width:100px;
    height:100vh;
    display:block;
    position:fixed;
    left:0;
    margin:0;
    padding-top:60px;
    border-right: 1px solid #9e9e9e;
    z-index:1;
}
#leftbar > .main-nav{
    margin:0;
    padding:10px;
    list-style-type: none;
    text-align: center;
    display: block;
}
.main-nav > .nav-item{
    width:100%;
    display:block;
    border: 1px solid #de483d;
    margin: 15px 0;
    background-color: #de483d;
    transition: all 0.3s ease-in-out;
}
.nav-item:hover{
    background-color: #fff;
    border: 1px solid #9e9e9e;
    transition: all 0.3s ease-in-out;
}
.nav-item:hover > a{
    color: #9e9e9e;
}
.main-nav .nav-item:first-child{
    margin-top:0;
}
.main-nav .nav-item:last-child{
    margin-bottom:0;
}
.nav-item > a {
    text-decoration:none;
    color: #fff;
    font-size: 30px;
    display:block;
    text-align:center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.main-body {
    display:block;
    margin:0;
    width: 100%;
    height: 100%;
    background-color: red;
    position:relative;
    top: 60px;
    left: 100px;
}

.main-body > .main-title {
    display:block;
    background-color: #9e9e9e;

}

.main-title > h2{
    color: #000;
}